@font-face {
  font-family: 'Magic:the Gathering', Arial;
  src: url('../fonts/magic.TTF');
}

@font-face {
  font-family: "Beleren-Bold", sans-serif;
  src: url('../fonts/Beleren-Bold.ttf');
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-image: url('../images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* search container styles */

.content-container {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 65%;
  max-width: 40rem;
}

.search-container h1 {
  font-size: 2.25rem;
  font-family: "Beleren-Bold";
  flex-basis: 100%;
  text-align: center;
  line-height: 2;
  color: #19359b;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  border: 1px solid #19359b;
  width: 100%;
}

.search-bar input {
  font-family: "Beleren-Bold", sans-serif;
  width: 100%;
  font-size: 1.25rem;
  border: none;
}

.search-bar input:focus {
  outline: none;
}

.search-bar i {
  color: #19359b;
  padding-left: 0.75rem;
}

.search-bar i:hover{
  color: #4676e0;
  cursor: pointer;
}

.search-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search-options button {
  width: 30%;
  height: 2rem;
  border: 1px solid #19359b;
  border-radius: 7px;
  margin-top: 1rem;
  background-color: white;
}

.search-options button p {
  font-size: 1rem;
  font-family: "Beleren-Bold", sans-serif;
  color: #19359b;
}

.search-options button:hover {
  background-color: #d5e0f7;
  cursor: pointer;
}

.search-options button:focus {
  box-shadow: none;
  outline: none;
}

@media only screen and (max-width: 48.675rem) {
  .search-options button {
    height: 3.5rem;
  }
}



/* card detail container styles

.results-rows {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.result {
  display: flex;
  justify-content: center;
  width: auto;
  max-width: 50rem;
  background-image: url('../images/parchment-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  border-radius: 0.5rem;
  margin: 1.5rem;
  flex-wrap: wrap;
}

.result img {
  height: 310px;
  width: 223px;
  padding: 1.5rem 0.75rem 1.5rem 1.5rem;
  flex-shrink: 0;
}

.card-info {
  padding: 1.5rem 1.5rem 1.5rem 0.75rem;
  flex: 1
}

.card-info dl {
  display: flex;
  flex-flow: row;
  padding: 0.4rem 0;
}

.card-info dt {
  flex-basis: 20%;
  text-align: right;
  font-weight: bold;
  line-height: 1.2;
}

.card-info dd {
  flex-basis: 50%;
  flex-grow: 1;
  padding-left: 1rem;
  line-height: 1.2;
}

.card-info dl:first-child {
  padding: 0 0 0.4rem 0;
}

.card-info .flavor {
  font-style: italic;
}

.rulings {
  width: 100%;
  flex-basis: 100%;
  margin: 0rem 1.5rem 1.5rem 1.5rem;
}

.rulings h2 {
  margin: 1rem;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.rulings p {
  padding: 1rem;
  margin: 0.5rem 0;
  line-height: 1.2;
  background-color: ghostwhite;
  border: 0.5px solid black;
  border-radius: 0.5rem;
}

.rulings p:last-child {
  margin: 0.5rem 0 0 0;
}

@media only screen and (max-width: 47.5rem) {
  .result {
    flex-direction: column;
  }
  .result img {
    align-self: center;
  }
  .card-info {
    padding: 1.5rem;
  }
  .card-info dt {
    flex-basis: 15%;
  }
  .card-info dd {
    flex-basis: 85%;
  }
  .rulings {
    width: auto;
    flex-basis: auto;
  }
}
@media only screen and (max-width: 41.563rem) {
  .result img {
    width: 70%;
    height: auto;
    padding: 4.5rem 1.5rem 1.5rem 1.5rem;
  }
  .card-info dt {
    flex-basis: 25%;
  }
  .card-info dd {
    flex-basis: 75%;
  }
}

/* loading animation */

/*
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  height: 100%;
  width: 100%;
  background: url('../images/ajax-loader.gif') 50% 50% no-repeat;
}

body.loading .modal {
  overflow: hidden;
  display: block;
}
*/

/* footer styles */
