@@font-face {
  font-family: 'Magic:the Gathering', Arial;
  src: url('../fonts/magic.TTF');
}

@@font-face {
  font-family: "Beleren-Bold", sans-serif;
  src: url('../fonts/Beleren-Bold.ttf');
}

body {
  font-size: 16px;
  background-image: url('../images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* search container styles */

.search-container {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.search-container h1 {
  font-size: 3rem;
  font-family: "Magic:the Gathering";
  flex-basis: 100%;
  text-align: center;
  line-height: 2;
}

.search-container input {
  font-family: "Beleren-Bold", sans-serif;
  width: 30%;
  margin-right: 1rem;
  padding: 1rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
}

.search-container input:focus {
  outline: none;
}

.search-container i {
  padding: 0.7rem;
  background-color: #26d7b2;
  border-radius: 0.5rem;
}

.search-container i:hover{
  padding: 0.7rem;
  background-color: #24b290;
  border-radius: 0.5rem;
  cursor: pointer;
  color: white;
}

/* card detail container styles*/

.results-rows {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.result {
  display: flex;
  justify-content: center;
  width: auto;
  max-width: 50rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5rem;
  margin: 1.5rem;
  flex-wrap: wrap;
}

.result img {
  height: 310px;
  width: 223px;
  padding: 1.5rem 0.75rem 1.5rem 1.5rem;
  flex-shrink: 0;
}

.card-info {
  padding: 1.5rem 1.5rem 1.5rem 0.75rem;
  flex: 1
}

.card-info dl {
  display: flex;
  flex-flow: row;
  padding: 0.45rem 0;
}

.card-info dt {
  flex-basis: 20%;
  text-align: right;
  font-weight: bold;
  line-height: 1.2;
}

.card-info dd {
  flex-basis: 50%;
  flex-grow: 1;
  padding-left: 1rem;
  line-height: 1.2;
}

.card-info:first-child dl {
  padding: 0 0 0.45rem 0;
}

.card-info .flavor {
  font-style: italic;
}

.rulings {
  width: 100%;
  flex-basis: 100%;
  margin: 0rem 1.5rem 1.5rem 1.5rem;
}

.rulings h2 {
  margin: 1rem;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.rulings p {
  padding: 1rem;
  margin: 0.5rem 0;
  line-height: 1.2;
  background-color: #dde2e6;
  border: 0.5px solid black;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 47.5rem) {
  .result {
    flex-direction: column;
  }
  .card-info {
    padding: 1.5rem;
  }
  .card-info dt {
    flex-basis: 15%;
  }
  .card-info dd {
    flex-basis: 85%;
  }
  .rulings {
    width: auto;
    flex-basis: auto;
  }
}
@media only screen and (max-width: 41.563rem) {
  .card-info dt {
    flex-basis: 25%;
  }
  .card-info dd {
    flex-basis: 75%;
  }
}
