@font-face {
  font-family: 'Magic:the Gathering', Arial;
  src: url('../fonts/magic.TTF');
}

@font-face {
  font-family: "Beleren-Bold", sans-serif;
  src: url('../fonts/Beleren-Bold.ttf');
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-image: url('../images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* typography */

h1 {
  font-family: "Beleren-Bold", sans-serif;
  font-size: 2.25rem;
  color: white;
  line-height: 1.75;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.15rem;
  color: white;
}

@media only screen and (max-width: 37.5rem) {
  h1 {
    line-height: 1.25;
  }
  h2 {
    padding-top: 1rem;
  }
}

/* container styles */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 60rem;
  padding-top: 10rem;
}

.headline {
  width: 100%;
  text-align: center;
}

.headline img {
  width: 60px;
  height: 60px;
  padding-bottom: 1rem;
}

.home-search {
  display: flex;
  padding: 1rem;
  background-color: #e3edfc;
  border: 1px solid #19359b;
  width: 80%;
  margin: 3.5rem 1.5rem 1.5rem 1.5rem;
}

.home-search input {
  font-family: "Beleren-Bold", sans-serif;
  width: 100%;
  font-size: 1.25rem;
  border: none;
  background-color: #e3edfc;
}

.home-search input:focus {
  outline: none;
}

.home-search input::placeholder {
  color: #617591;
}

.home-search i {
  color: #19359b;
  padding-left: 0.75rem;
}

.home-search i:hover{
  color: #4676e0;
  cursor: pointer;
}

.option-icons img {
  width: 50px;
  height: 50px;
  padding: 0 1rem;
}

.option-icons img:hover {
  cursor: pointer;
}
